#wpgmza_map img {
    border: none !important;
    background-color:transparent !important;
}
.wpgmza_map img {
    border: none !important;
    background-color:transparent !important;
    padding:0 !important;
    margin:0 !important;
}   